* html body {
  box-sizing: border-box;

  margin: 0;
  padding: 0;
}

body {
  max-width: 960px;
  margin: auto;
  background-color: #cce6ff;
}

header h1,
h2 {
  text-align: center;
}

header img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

nav a {
  display: block;
  font-size: 1.5rem;
  justify-content: center;
  text-align: center;
  text-decoration: none;
}

footer {
  position: sticky;
  background-color: #b3e6ff;
  width: 960px;
  padding: 30px;
  text-align: center;
  overflow: hidden;
}
